:root {
  /* 双色图标填充色 -- 黑色 */
  --icon-fill-active-black: #1a1b28;

  /* 双色图标填充色 -- 绿色 */
  --icon-fill-active-green: #18c566;

  /* --------------------------------------------------------------------------------------------------------------- */
  /* 动画 */
  /* spinner 动画持续时长 */
  --animation-spinner-duration: 1s;
}
